<!-- Footer -->
<footer class="text-center" id="footer">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>{{ site.footer.location }}</h3>
                    <p>
                        {% for adress in site.address %}
                        {{ adress.line }} <br>
                        {% endfor %}
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>{{ site.footer.social }}</h3>
                    <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                                    class="fa fa-fw fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3 style="display: inline; margin-bottom: 20px;">
                        {{ site.footer.credits }}
                        <img class="svg-icon" src="/css/line-brands.svg" alt="Line">
                        <a class="svg-icon" href="http://wa.me/+6285643755459">
                            <img class="svg-icon" src="/css/whatsapp-brands.png" alt="WhatsApp">
                        </a>
                    </h3>
                    <p style="margin-top: 20px;">{{ site.credits }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    &copy; {{ site.footer.copyright }}
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>