<!-- Portfolio Modals -->
{% assign project_pages = site.pages | where: "type", "project" | sort: "name" | reverse %}
{% for post in project_pages %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content" id="m{{post.modal-id}}">
        <div class="container">
            <div class="row">
                <div class="close-modal hidden-xs hidden-sm" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="col d-flex">
                    <div class="modal-body">
                        <div class="row align-items-start">
                            <h2 style="text-transform: capitalize;">{{ post.title }}</h2>
                            <hr class="star-primary">
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-8">
                                {% include carousel.html height="65" unit="%" folder=post.galleryImg %}
                            </div>
                            <div class="col-sm-4 modal-description" style="direction: ltr;">
                                <!-- <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered"
                                    alt="{{ post.alt }}"> -->
                                <div style="direction: ltr;">
                                    {% if post.describe-opening %}
                                    <p style="text-indent: 20px; margin-top: 20px;">{{ post.describe-opening }}</p>
                                    {% endif %}
    
                                    <ul style="list-style-type: disc; text-align-last: left;">
                                        {% for point in post.describe-content %}
                                        <li>{{ point }}</li>
                                        {% endfor %}
                                    </ul>
    
                                    {% if post.describe-closing %}
                                    <p>{{ post.describe-closing }}</p>
                                    {% endif %}
                                </div>

                                <ul class="list-inline item-details">
                                    {% if post.client %}
                                    <li>Client:
                                        <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                        </strong>
                                    </li>
                                    {% endif %}
                                    {% if post.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                        </strong>
                                    </li>
                                    {% endif %}
                                    {% if post.category %}
                                    <li>Service:
                                        <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                        </strong>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row-align-items-center">
                            {% if post.videoUrl %}
                            <p style="font-weight: 800; margin-top: 5px; margin-bottom: -1em; font-size: large;">Video</p>
                            <p>{% include youtubePlayer.html url=post.videoUrl %}</p>
                            {% endif %}
                        </div>
                        <div class="row align-items-end">
                            <hr class="star-primary">
                            <button onclick="reload_iframe('v{{ post.modal-id }}')" type="button" class="btn btn-default" data-dismiss="modal"
                                style="background-color: #{{ site.color.secondary }}; margin-top: -5px; margin-bottom: 10px"><i
                                    class="fa fa-times"></i>
                                Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}