<!-- <div class="embed-container">
  <iframe width="700" height="480" src="https://www.youtube.com/embed/{{ include.id }}" frameborder="0" allowfullscreen=""></iframe>
</div> -->

<div class="embed-container">
  <iframe class="vidplayer" id="v{{ post.modal-id }}" src={{ include.url }} width="384" height="225" allowfullscreen="true"
    loading="lazy"></iframe>
</div>

<script>

  window.addEventListener("resize", framesize);

  function framesize() {
    n = document.getElementById('c' + last_id).getElementsByTagName('label')[0].htmlFor;
    h = document.getElementsByClassName('carousel__slide')[n].offsetHeight;
    w = document.getElementsByClassName('carousel__slide')[n].offsetWidth;
    if (h > 0) { h_save = h };
    if (w > 0) { w_save = w };
    if (w_save > 0 && h_save > 0) {
      for (i = 0; i < document.getElementsByClassName('vidplayer').length; i++) {
        document.getElementsByClassName('vidplayer')[i].width = w_save;
        document.getElementsByClassName('vidplayer')[i].height = h_save;
      };

      for (i = 0; i < document.getElementsByClassName('modal-description').length; i++) {
        document.getElementsByClassName('modal-description')[i].style.height = h_save + 'px'
      };
    };
    if (document.body.clientHeight - document.getElementById('m' + last_id).offsetHeight > 0) {
      x = (document.body.clientHeight - document.getElementById('m' + last_id).offsetHeight) / 2
      document.getElementById('m' + last_id).style.top = x + 'px'
    };
  };

</script>